.main .highlight {
    color: red;
}

.main>.highlight {
    color: blue;
}

#password_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

#password_input:invalid {
    border: red solid 3px;
}

input[type="range"] {
    width: 50%;
}

#sect {
    background-color: rgb(238, 238, 238);
}

#ProgressRange {
    width: 10%;
}

progress[value] {
    -moz-appearance: none;
    appearance: none;
    border: none;
    /* Firefox also renders a border */
    width: 10%;
    height: 20px;
}

progress[value]::-moz-progress-bar {
    background-image:
        -moz-linear-gradient(135deg,
            transparent 33%,
            rgba(0, 0, 0, 0.1) 33%,
            rgba(0, 0, 0, 0.1) 66%,
            transparent 66%),
        -moz-linear-gradient(top,
            rgba(255, 255, 255, 0.25),
            rgba(0, 0, 0, 0.25)),
        -moz-linear-gradient(left,
            #09c,
            #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.attention {
    fill: red;
    width: 50px;
    height: 50px;
}

#list li {
    list-style: disc;
}

#red:checked+label,
#green:checked+label {
    font-size: 1.5em;
}

#red:checked,
#green:checked {
    box-shadow: 0 0 0 1px purple;
}

/* Hide the toggle checkbox */
#expand-toggle,
#expand {
    display: none;
}

/* Hide expandable content by default */
.expandable {
    visibility: collapse;
}

.lav {
    display: none;
}

/* Style the button */
#expand-btn,
#expand-bt {
    display: inline-block;
    padding: 5px 11px;
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px;
}

/* Show hidden content when the checkbox is checked */
/* !звёздочка ставится для выбора всех элементов следующих за элементом, НЕ являющимися его родственниками напрямую! */
/* the * means "not direct child" for " " and ">" and "not a sibling" for "~" and "+" */
#expand-toggle:checked~* .expandable {
    visibility: visible;
}

/* Style the button when the checkbox is checked */
#expand-toggle:checked~*#expand-btn,
#expand:checked~#expand-bt {
    background-color: #ccc;
}

#expand:checked~#hometown {
    display: none;
}

#expand:checked~.lav {
    display: block;
}